@charset "UTF-8";

*{
	margin:0;
	padding:0;
}

header {
	top: 0;
	height:150px;
	line-height:150px;
	width: 100%;
	background: blue;
	text-align: center;
	font-size: 35px;
	font-weight: 900;
	color:#fff;
}

nav ul{
	height:50px;
	line-height:50px;
	width:100%;
	background: skyblue;
	overflow:hidden;
}

nav ul li {
	float:left;
	list-style:none;
	padding:0 10px;
}

a{
	text-decoration: none;
	color:#fff;
}

a:hover{
	cursor:pointer;
}

section {
	position:absolute;
	overflow:auto;
	width:100%;
	height:100%;
	background-color:#e3e5e5;
}

.title {
	font-size:30px;
	font-weight:900;
	text-align:center;
	margin:3rem;
}

.wrapper {
	display:flex;
	justify-content: center;
	align-items:center;
	text-align:center;
}

table{
	width:600px;
}

table, tr, th,td {
	border:1px solid black;
}

td input {
	float:left;
	padding:0.3rem;
}

td input[name=phone] {
	width:70%;
}

td input[name=address] {
	width:90%;
}


.btn {
	padding:0.2rem 1rem;
}

footer {
	position:fixed;
	bottom:0;
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	background: blue;
	color:#fff;
}